<div class="container">
  <h1> Set an Appointment </h1>
    <% @animals.each_with_index do |animal, index| %>
      <%= animal.name %>
      <%= image_tag animal.image_path  %>
      <%= link_to "+", {controller: "visit_animals", action: "plus", animal_id: animal.id}, method: :patch %>
      <%= @visitation.contents[animal.id.to_s] %>
      <%= link_to "-", {controller: "visit_animals", action: "minus", animal_id: animal.id}, method: :patch %>
      <div class="container">
      </div>
    <% end %>
  <%= form_for(@visit) do |f| %>
    <%= @visitation.total_duration %>
    <%= f.datetime_field :date, class: "datepicker" %>
    <%= f.submit %>
  <% end %>

</div>
