<div class="container">
  <h1> Set an Appointment </h1>

  <%= form_for(@visit) do |f| %>
    <%= @animals.each_with_index do |animal, index| %>
      <%= animal.name %>
      <%= image_tag animal.image_path  %>
      <div class="container">
      <!--
      <%# f.collection_select( :duration_id, Duration.all, :id, :time, multiple: true, size: @animals.count) + "minutes" %>
    -->
      <%# @durations[index] = @visitation.contents[animal.id.to_s] %>
      <%= f.select(:duration_id) do %>
        <% Duration.all.each do |d| %>
          <% byebug %>
          <%= content_tag(:option, d, value: d) %>
        <% end %>
      <% end %>
      </div>
    <% end %>
    <%= f.datetime_field(:date) %>
    <%= f.submit %>
  <% end %>

</div>
