<h2><%= "Visit for #{@visit.date}" %></h2>

<%= "Visitation Status: #{@visit.status}" %><br>
<% if @visit.status == "Cancelled" or @visit.status == "Completed" %>
  <%= "Status changed to #{@visit.status.upcase} at #{@visit.updated_at.localtime.strftime("%B %e at %l:%M %p")}." %><br>
<% else %>
  <%= "Scheduled for #{@visit.date.strftime("%A, %b %d, %Y")}." %><br>
<% end %>
<%= "Reservation made on #{@visit.created_at.localtime.strftime("%B %e at %l:%M %p")}." %><br>
  <% @visit.animal_visits.each do |animal_visit| %>
    <%= link_to "#{Animal.find(animal_visit.animal_id).name}", animal_path(animal_visit.animal_id) %>
    <div><%= "Meeting duration: #{animal_visit.duration}" %></div><br>
  <% end %>
<%= "Total duration of this visit: #{@visit.duration}" %><br>
</div>
