<div class="container">

  <h2 class="pad-top-50"><%= "Visit for #{@visit.date}" %></h2>

  <b><%= "Visitation Status: " %></b><%= "#{@visit.status}" %><br>
  <% if @visit.cancelled? or @visit.completed? %>
    <%= "Status changed to #{@visit.status.upcase} at #{@visit.updated_at.localtime.strftime("%B %e at %l:%M %p")}." %><br>
  <% else %>
    <%= "Scheduled for #{@visit.date.strftime("%A, %b %d, %Y")}." %><br>
  <% end %>
  <%= "Reservation made on #{@visit.created_at.localtime.strftime("%B %e at %l:%M %p")}." %><br/><br/>
    <% @visit.animals.each do |animal| %>
      <%= link_to "#{Animal.find(animal.id).name}", animal_path(animal.id) %>
      <div class="pad-left-small"><%= "Meeting duration: #{animal.animal_visits.find_by(visit: @visit.id).duration}" %></div><br>
    <% end %>
  <b><%= "Total duration of this visit: #{@visit.duration} minutes" %></b><br>
</div>
