<div class="container">
  <div class="container">
    <h2>Animals</h2>
    <table>
      <ul class="collection">
        <% @animals.each do |animal| %>
          <li class="collection-item avatar">
            <img src="<%= animal.image_path %>" alt="" class="circle">
            <span class="title"><b><%= animal.name %></b></span>
            <p>Breed: <%= animal.breed %> <br>
               Age: <%= animal.age %>
            </p><br />
            <%= button_to "Remove Pet", cart_animal_path(animal), method: :delete, :class => "btn tooltipped red", :'data-position' => "top", :'data-delay' => "50", :'data-tooltip' => "Remove Pet" %>
            <a href="#!" class="secondary-content"><i class="material-icons">pets</i></a>
          </li>
        <% end %>
      </ul>
    </table>
  </div>
</div>
