<div class="col s6 m4 l4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= element.image_path %>">
    </div>
    <div class="card-content activator">
      <ul class="container center">
        <li><b><%= element.name %></b></li>
        <div class="divider"></div>
        <li><%= element.age %></li>
        <div class="divider"></div>
        <li><%= element.breed %></li>
        <div class="divider"></div>
        <li><%= element.sex %></li>
      </ul>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= element.name %><i class="material-icons right">close</i></span>
      <p>Here is some more information about this animal.</p>
      <div class="pad-top-50 center">
        <div id="<%= element.id %>" class="pad-left-small inline">
          <%= button_to favorite_animals_path(animal_id: element.id), method: :post, :class => "btn-floating green tooltipped", :'data-position' => "top", :'data-delay' => "50", :'data-tooltip' => "Add to Favorites" do %>
            <i class="material-icons">favorite</i>
          <% end %>
        </div>
          <div class="pad-left-small inline">
          <%= link_to animal_path(element), :class => "btn-floating blue tooltipped", :'data-position' => "top", :'data-delay' => "50", :'data-tooltip' => "Meet me!" do %>
            <i class="material-icons">pets</i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
