<div class="container">
  <div class="container">
    <h2>Animals</h2>
    <table>
      <ul class="collection">
        <% @animals.each do |animal| %>
          <li class="collection-item avatar">
            <img src="<%= animal.image_path %>" alt="" class="circle">
            <span class="title"><b><%= animal.name %></b></span>
            <p>Breed: <%= animal.breed %> <br>
               Age: <%= animal.age %>
            </p><br />
            <%= button_to "Remove Pet", favorite_animal_path(animal), method: :delete, class: "btn red " %>
            <a href="#!" class="secondary-content"><i class="material-icons">pets</i></a>
            <% if current_user && current_user.visit_animals.include?(animal)  %>
              <%= button_to "Remove Visit", visit_animal_path(animal), method: :delete %>
            <% elsif current_user %>
              <%= button_to "Add to Visit", visit_animals_path(animal_id: animal.id, method: :post) %>
            <% end %><br><br>
          </li>
        <% end %>
      </ul>
    </table>
    <% if current_user && current_user.visit_animals.any? %>
      <%= button_to "Schedule Visit", '/favorites' %>
    <% else %>
      <%= link_to "Log In or Create Account to schedule visit", login_path %>
    <% end %>
  </div>
</div>
