<div class="container">
  <h2 class="center">Favorites</h2>
  <table>
    <ul class="collection">
      <% @animals.each do |animal| %>
        <li class="collection-item avatar">
          <a href="<%= animal_path(animal) %>"><img src="<%= animal.image_path %>" alt="" class="circle"></a>
          <span class="title"><b><%= link_to animal.name.capitalize, animal_path(animal) %></b></span>
          <p>Breed: <%= animal.breed %> <br>
             Age: <%= animal.age %>
          </p><br />
          <div class="center">
          <%= link_to "Remove Pet", favorite_animal_path(animal), method: :delete, class: "waves-effect waves-light btn red" %>
          <a href="<%= animal_path(animal) %>" class="secondary-content"><i class="material-icons">pets</i></a>
          <% if current_user && @visitation.contents.keys.include?(animal.id.to_s)  %>
            <%= link_to "Remove Visit", visit_animal_path(animal), method: :delete, class: "waves-effect waves-light btn red" %>
          <% elsif current_user %>
            <%= link_to "Add to Visit", visit_animals_path(animal_id: animal.id), method: :post, class: "btn waves-effect waves-light" %>
          <% end %><br><br>
          </div>
        </li>
      <% end %>
    </ul>
  </table>
 <% if current_user && @visitation.contents.any? %>
    <%= link_to "Schedule Visit", new_visit_path, :class => "btn waves-effect waves-light" %>
  <% elsif current_user %>
    <a class="btn disabled">Schedule Visit</a>
    Add some animals to your visit.
  <% else %>
    <%= link_to "Log In or Create Account to schedule visit", login_path %>
  <% end %>
</div>
